*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-boton-1: #06c046;
  --color-boton-2: orangered;
  --color-fondo: #f0f0f0;
  --fuente-primaria: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: var(--fuente-primaria);
}

body {
  background-color: var(--color-fondo);
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  gap: 1rem;
}

img {
  width: 100%;
  object-fit: cover;
}

/*=============================================
=            Estilos de la cabecera            =
=============================================*/
header h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}



/*=============================================
=            Estilos del main            =
=============================================*/

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

h2 {
  font-size: 2rem;
}

.hidden {
  display: none;
}

/*=============================================
=            Estilos del formulario            =
=============================================*/
legend {
  text-align: start;
}

fieldset {
  padding: .5rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

label {
  font-weight: 600;
  padding: .5rem;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding: .25rem;
}

.form-control {
  padding: .25rem;
}

.form-control:focus {
  background-color: rgba(255, 228, 196, 0.543);
}

input[type="number"] {
  text-align: center;
  max-width: 5rem;
}

form .btn {
  border-radius: 5px;
  padding: .5rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  border: 1px solid;
}

.btn-add {
  border-color: var(--color-boton-1);
  background-color: var(--color-boton-1);
}

.btn-reset {
  background-color: var(--color-boton-2);
  border-color: var(--color-boton-2);
}

.btn-add:hover {
  background-color: white;
  color: var(--color-boton-1);
}

.btn-reset:hover {
  background-color: white;
  color: var(--color-boton-2);
}



/*=============================================
=            Estilos de la tabla listado            =
=============================================*/
.listado .btn:hover {
  opacity: 0.6;
}

.listado header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.listado header h2 {
  text-align: center;

}


.listado .btn {
  display: inline-block;
  max-width: 50px;
}


.btn-success {
  border-radius: 5px;
  border: 1px solid var(--color-boton-1);
  background-color: var(--color-boton-1);
  width: 50px;
  padding: .5rem;
}

.linea {
  margin: 1rem 0;
  height: 0.1px;
  width: 100%;
  background-color: gray;
}


/*=============================================
=            Estilos de la tabla            =
=============================================*/
table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

thead, tbody {
  width: 100%;
  padding: .25rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

thead {
  border-bottom: 2px solid var(--color-fondo);
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: max-content;
}

table thead tr {
  min-width: 100%;
}

td.avatar figure {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

td.avatar img {
  object-fit: contain;
}

thead tr th:not(:first-of-type) {
  text-align: start;
  flex: 1;
}

tr td {
  text-align: start;
  flex: 1;
}

table .btn {
  width: 25px;
  max-height: 25px;
}

table .acciones {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}